<strong>Olá, {{ organizer }} </strong>
<p>Houve uma nova inscrição, confira os detalher abaixo:</p>
<p>
  <strong>Usuário: </strong> {{ user }} <br />
  <strong>email: </strong> {{ email }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
    Lhe informaremos novamente assim que tivermos novidades.
  </small>
</p>
